/* styles.css */

.menu-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
}

.toggle-btn {
    font-size: 24px;
    cursor: pointer;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu > li > span {
    cursor: pointer;
}

.menu ul {
    display: none;
    padding-left: 20px;
}

.menu li:hover ul {
    display: block;
}


        /* Estilos adicionais para o menu hamburguer */
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            padding: 48px 0 0;
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }

        .sidebar-sticky {
            position: relative;
            top: 0;
            height: calc(100vh - 48px);
            padding-top: .5rem;
            overflow-x: hidden;
            overflow-y: auto;
        }

        @supports ((position: -webkit-sticky) or (position: sticky)) {
            .sidebar-sticky {
                position: -webkit-sticky;
                position: sticky;
            }
        }